# Core logic & env
python-dotenv
tqdm
requests

# Streamlit UI
streamlit>=1.25.0

# Notion client
notion-client==2.2.0

# LangChain ecosystem
langchain==0.3.0
langchain_community
langchain_groq
langchain_ollama
langgraph
langchain-qdrant
langchain_huggingface==0.1.2

# Embeddings + RAG
sentence-transformers==2.2.2
transformers==4.39.1  # Match with langchain_huggingface needs

# Vector DB
qdrant-client>=1.6.0

# Torch (needed for sentence-transformers & huggingface)
torch==2.2.1
--extra-index-url https://download.pytorch.org/whl/cpu

# Optional
beautifulsoup4
