# Core logic & environment
python-dotenv
tqdm
requests

# Streamlit UI
streamlit>=1.25.0

# Notion client
notion-client==2.2.0

# LangChain ecosystem
langchain==0.3.0
langchain_community
langchain_groq
langchain_ollama
langgraph
langchain-qdrant
langchain_huggingface

# Embedding + RAG
sentence-transformers==2.2.2
transformers==4.36.2  # Needed for compatibility with sentence-transformers
torch==2.1.0           # Safe and compatible version

# Vector DB
qdrant-client>=1.6.0

# Optional parsing support
beautifulsoup4
